.selectWrapper {
  width: 107px;
  height: 20px;
  background-color: #fff;
  border-radius: 50px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.selectWrapper > button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
}
.select {
  display: flex;
  flex-direction: column;
  width: 100px;
  position: absolute;
  bottom: -15px;
  right: 5px;
}
.select__options {
  width: 100%;
  border: 1px solid #2e465c;
  border-radius: 2px;
}
.select__option {
  font-size: 14px;
  padding: 6px;
  border-bottom: 1px solid #2e465c;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.select__option:last-child {
  border-bottom: none;
}
.select__option:hover {
  background-color: #2e465c;
  color: #fff;
}
