.App {
  margin: 50px auto;
  font-family: 'Roboto', sans-serif;
  color: #2b455c;
}
.App > ul {
  position: relative;
}
li {
  border-left: 1px solid black;
  list-style: none;
}
h2 {
  cursor: pointer;
  background-color: #2e465c;
  padding: 8px 12px;
  width: fit-content;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
